X_API_KEY=your_x_api_key
X_API_SECRET=your_x_api_secret
X_BEARER_TOKEN=your_x_bearer_token
X_ACCESS_TOKEN=your_x_access_token
X_ACCESS_TOKEN_SECRET=your_x_access_token_secret
ANTHROPIC_API_KEY=your_anthropic_api_key
TIKTOK_USERNAME=your_tiktok_username
TWITTER_USERNAME=your_twitter_username
YOUTUBE_CHANNEL=your_youtube_channel_id
GITHUB_REPO=your_github_username/your_repo
GITHUB_BRANCH=main
SITE_URL=https://yourdomain.com
